params {

    outdir = './results'
}

process {

    withName: FASTQC {

        publishDir = [
            path: "${params.outdir}/fastqc",
            mode: 'copy',
        ]

        cpus = 1
        conda = 'fastqc=0.12.1'
    }

    withName: SICKLE_PE {

        publishDir = [
            path: "${params.outdir}/sickle",
            mode: 'copy',
        ]

        cpus = 1
        conda = 'sickle-trim=1.33'
    }

    withName: MULTIQC {

        publishDir = [
            path: "${params.outdir}/multiqc",
            mode: 'copy',
        ]

        cpus = 1
        conda = 'multiqc=1.14'
    }
}

conda {

    enabled = true
}
